<!DOCTYPE html>
<html>
  <head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <style>
      #header, #main, #footer {
        padding-left: 300px;
      }
      @media only screen and (max-width : 992px) {
        #header, #main, #footer {
          padding-left: 0;
        }
      }
    </style>
  </head>
  <body>
    <!--Nav Bar-->
        <div id="header" class="navbar-fixed">
          <nav>
            <div class="nav-wrapper grey darken-3">
              <a href="/das" class="brand-logo center">E-wal</a>
              <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
              <ul class="right hide-on-med-and-down">
                <li><a href="/das">Home</a></li>
              </ul>          
            </div>
          </nav>
        </div>

        <ul class="sidenav #ffffff white sidenav-fixed" id="mobile-demo">
            <li b><a class="black-text" href="/admin_profile">Admin<i class="material-icons black-text">account_circle</i></a></li>
            <li class="divider nogap"></li>
            <li><a href="/admin_user" class="black-text">Total No of active users<i class="material-icons black-text">verified_user</i></a></li>
            <li><a href="/admin_trans" class="black-text">Total user transactions<i class="material-icons black-text">playlist_add_check</i></a></li>
            <li class="divider nogap"></li>
            <li><a href="/out1" class="black-text">LOGOUT<i class="material-icons black-text">power_settings_new</i></a></li>
        </ul>
        <div class="fixed-action-btn">
            <a class="btn-floating btn-large red">
              <i class="material-icons">add</i>
            </a>
            <ul>
              <li><a class="btn-floating red" href="/admin_profile><i class="material-icons">account_circle</i></a></li>
              <li><a class="btn-floating #8e24aa purple darken-1" href="/admin_user"><i class="material-icons">verified_user</i></a></li>
              <li><a class="btn-floating green" href="/admin_trans"><i class="material-icons">playlist_add_check</i></a></li>
              <li><a class="btn-floating blue" href="/out1"><i class="material-icons">power_settings_new</i></a></li>
            </ul>
          </div>


          <!--paralax start-->
          <section>

              <div class="parallax-container">
                  <div class="parallax"><img src="img1.jpg"></div>
                </div>
                <div class="section white">
                  <div class="row container">
                    <h2 class="header">Parallax</h2>
                    <p class="grey-text text-darken-3 lighten-3">
                      Say goodbye to the hassle of carrying cash and the inconvenience of traditional banking methods. With E-wal, you have the freedom to access your money anytime, anywhere, and on any device.

                      With our user-friendly interface, you can easily add funds to your account and keep track of your transactions in real-time.
                    </p>
                  </div>
                </div>
                <div class="parallax-container">
                  <div class="parallax"><img src="img2.jpg"></div>
                </div>
          </section>

          <!--paralax ends-->

  </body>


   <!--JavaScript at end of body for optimized loading-->
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <script>
      document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.sidenav');
        var instances = M.Sidenav.init(elems, {});
        var elems = document.querySelectorAll('.fixed-action-btn');
        var instances = M.FloatingActionButton.init(elems,{});
        var elems = document.querySelectorAll('.parallax');
        var instances = M.Parallax.init(elems, {});
      });
    </script>